.card-container {
  background-color: #3a3a3a;
}

.card-container:last-child {
  margin-right: none !important;
}

/* Mobile devices, portrait mode, 720p monitors */
@media (max-width: 1040px) {
  .card-container {
    margin-top: 2.5rem;
    height: 7rem;
    width: 35rem;
  }
}

/* Tablets, portrait mode */
@media (min-width: 1040px) and (max-width: 1920px) {
  .card-container {
    margin-top: 3rem;
    height: 7rem;
    width: 30rem;
  }
}

/* 1080p monitors */
@media (min-width: 1920px) and (max-width: 2560px) {
  .card-container {
    margin-top: 4rem;
    height: 8rem;
    width: 30rem;
  }
}

/* 2k monitors */
@media (min-width: 2560px) and (max-width: 3840px) {
  .card-container {
    margin-top: 5rem;
    height: 12rem;
    width: 45rem;
  }
}

/* 4k+ monitors */
@media (min-width: 3840px) {
  .card-container {
    margin-top: 5rem;
    height: 15rem;
    width: 55 rem;
  }
}